// Color Scheme

//First Color Scheme
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//Second Color Scheme
$fuzzy-wuzzy: #E56353; 
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Third Color Scheme
$eerie-black: #121619;  
$raisin-black: #222323;
$nickel: #6C6E70;

//Font Family
$roboto: "Roboto", sans-serif;
$playfair: "Playfair Display", sans-serif;

//Font Weight
$black-italic: 900;
$regular: 400;
$light: 300;

//Font Sizes
$xx-large: 4.375rem;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;