.navigation {
    background-color: $eerie-black;
    color: $white;
    a {
        color: $white;
        &:hover {
            color: $fuzzy-wuzzy;
        }
    }
    img {
        width: 5rem;
    }
}

.navbar-dark .navbar-nav .nav-link {
    color: $white;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: $ruddy-pink;
}
